<div class='scaffold-cell'  style='flex-basis: 8%'>
  <%= book.name %>
</div>
<div class='scaffold-cell' style='flex-basis: 8%'>
  <%= book.author.try(:name) || '<span class="content alert-danger">MISSING</span>'.html_safe %>
</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <%= book.blurb %>
</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <%= book.long_description %>
</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
<%= book.cost%></div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <%= book.how_many_printed%></div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <% unless book.approved_at.nil? %>
<%= book.approved_at.in_time_zone(current_timezone).strftime('%m/%d/%Y @ %l:%M %p ') + timezonize(current_timezone) %>
<% else %>
<span class='alert-danger'>MISSING</span>
<% end %>
</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <% unless book.release_on.nil? %>
    <%= book.release_on %>
  <% else %>
  <span class='alert-danger'>MISSING</span>
  <% end %>
</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>
  <% unless book.time_of_day.nil? %>
    <%= book.time_of_day.in_time_zone(current_timezone).strftime('%l:%M %p ') + timezonize(current_timezone) %>
   <% else %>
  <span class='alert-danger'>MISSING</span>
  <% end %>
</div>

<div class='scaffold-cell'  style='flex-basis: 8%'>
  <% if book.selected.nil? %>
      <span class='alert-danger'>MISSING</span>
  <% elsif book.selected %>
    YES
  <% else %>
    NO
  <% end %>
</div>

<div class='scaffold-cell'>
  <% if book.genre.nil? %>
      <span class='alert-danger'>MISSING</span>
  <% else %>
    <%=  book.genre %>
  <% end %>
</div>




<div class="scaffold-cell scaffold-line-buttons" style="flex-basis: 150px;">
  
    <%= form_with url: book_path(book), html: {style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe, data: {confirm: 'Are you sure?'}, class: "delete-book-button btn btn-primary btn-sm" %>
    <% end %>
  


  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_book_path(book), disable_with: "Loading...", class: "edit-book-button btn btn-primary btn-sm" %>
  
</div>
